* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item {
    margin-top: -100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 0px;
    align-items: center;
    position: absolute;

}

.servicess {
    background-color: aqua;

    height: 200px;
    margin: 30px;
    position: relative;
    text-align: center;
    font-size: 50px;
}

.card1{
  width: 300px;
  height: 200px;
    display: inline-block;
    margin: 25px;
    

}

.card2 {
    width: 300px;
  height: 200px;
    display: inline-block;
    margin: 25px;
}

.card3 {
    width: 300px;
  height: 200px;
    display: inline-block;
    margin: 25px;
}

.card4 {
    width: 300px;
  height: 200px;
    display: inline-block;
    margin: 25px;
}
h2{
    text-align: center;
}